/* === Page Background === */
body {
  background: linear-gradient(to bottom, #03bd66, #7a00ff);
  background-size: 100% 300%;
  animation: verticalScroll 15s ease infinite;
}

/* === Background Animation === */
@keyframes verticalScroll {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

 /* === Task Section === */
 #task-section {
  display: flex;
}

/* === Task Form === */
#taskForm {
  flex: 1;
  background-color: #dbdbdb;
  border: 10px dashed black;
  padding: 20px;
  margin-left: 10%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

#taskForm label {
  font-weight: bold;
  display: block;
  color: #333333;
  font-size: 25px;
}

#taskForm input,
#taskForm textarea,
#taskForm select {
  width: 90%;
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 6px;
  font-size: 1em;
  background-color: #fff;
}

#taskForm button {
  width: 90%;
  margin-top: 20px;
  margin-left: 27px;
}

/* === Form Error === */
#formError {
  color: red;
  margin-top: 10px;
}

/* === Task List === */
#tasksList {
  flex: 2;
  list-style: none;
  padding: 10px;
  max-width: 900px;
  margin-left : 70px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

#tasksList:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* === Filter Bar === */

#filter-bar{
  font-size: 1.25em;
  /* margin: 70px; */
}

#filter-bar table{
  /* border:1px solid black; */
  margin: auto;
  background-color: #dbdbdb;
  border-radius: 20px;
  
}

.task-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;          
  align-items: center;              
  margin: 15px auto;                
  font-size: 1.1em;
  background: gray;
  padding: 20px;
  border-radius: 15px;             
  max-width: 1000px;                
  font-weight: bold;
  color: white;
}

.task-stats div {
  flex: 1 1 auto;                 
  text-align: center;             
}



/* === Filtered Tasks === */
#filtered-tasks {
  list-style: none;
  padding: 10px;
  max-width: 900px;
  margin: auto;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

/* === Individual Task === */
.task {
  background-color: white;
  border-left: 6px solid #ccc;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}

.task input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
}

.task button {
  position: absolute;
  top: 20px;
  right: 40px;
  color: #eee;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}